@import "variables";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 16px 20px 8px rgba($black-color, 0.55);
  border-radius: 30% 30% 0 0;
  text-align: center;
  background: linear-gradient(
    45deg,
    $light-green,
    $light-blue,
    $blue,
    $purple
  ); /* Refreshing green to blue gradient */
  background-size: 400% 400%;
  color: $white-color;
  padding: 20px;
  animation: gradient 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
