// Screen sizes
$small: 768px !default;
$medium: 992px !default;
$large: 1228px !default;
$extraLarge: 1366px !default;

// Colors
$footer-color: #fcc603 !default;
$white-color: #fff !default;
$black-color: #000 !default;
$light-green: #9ad0ac;
$light-blue:#92efed;
$blue: #adcbf7;
$purple: #655874;
$scrollbar: #544b77;
$scrollbar-hover: #211c34;

