// Screen sizes
$small: 768px !default;
$medium: 992px !default;
$large: 1228px !default;
$extraLarge: 1366px !default;

// Colors
$footer-color: #fcc603 !default;
$white-color: #fff !default;
$black-color: #000 !default;
